body,
button,
input,
select,
textarea {
	font: 12px/1.5 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #202020;
}
* {
	margin: 0;
	padding: 0;
}